doctype
html(lang="en")
	include includes/header.pug
	body
		h1 Incluir PUG
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, libero nostrum iusto! Odit quasi facilis saepe ratione temporibus commodi incidunt molestiae et fugit veniam, modi non consectetur maiores voluptas ut?

		include includes/footer.pug
	